@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.app {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  background-color: white;
}

.truncate-multiline {
  /* overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  background: #fff;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* hide number arrows code start */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#custom-scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px transparent; */
  border-radius: 5px;
  /* background-color: #f5f5f5; */
  position: absolute;
}

#custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 14px;
  /* background-color: #f5f5f5; */
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  /* -webkit-box-shadow: inset 0 0 6px transparent; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide number arrows code end */

/* ===================== table css start =================  */

/* //////////// table resizer code start //////////////// */

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1.5px;
  background: rgba(255, 255, 255, 0.5);
  cursor: ew-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: white;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}
.resizerHeader {
  position: relative;
  margin: 5px;
  padding-left: 1px;
  left: -0.3px;
  height: 90%;
  width: 3px;
  border-radius: 2px;
  background: #dde1e3;
  opacity: 0;
}

.resizerHeader.isResizingHeader {
  background: #dde1e3;
  opacity: 1;
}

.resize-container:hover .resizerHeader {
  opacity: 1;
}

.resize-container {
  cursor: ew-resize;
  user-select: none;
  touch-action: none;
}

/* ************** table resizer code end **************** */

.row:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.thead > .row:hover {
  background: transparent;
}

.thead {
  margin: 0;
  top: 0;
  position: sticky;
}

.divTable {
  height: calc(100vh - 50px);
}

.th,
.cell {
  border-bottom: 1px solid rgb(221, 225, 227);
  border-left: 1px solid rgb(243, 243, 243);
  border-right: none;
  border-top: none;
}

.cell:last-child {
  box-shadow: rgb(221, 225, 227) 1px 0px 0px 0px;
}
.cell:first-child {
  box-shadow: rgb(221, 225, 227) 1px 0px 0px 0px inset;
}

.th {
  box-shadow: rgb(221, 225, 227) -1px 0px 0px 0px inset;
}

.thead {
  border-left: 1px solid rgb(221, 225, 227);
}

.thead > div {
  height: 32px;
}
.thead > .row {
  height: 32px;
}

.th {
  position: relative;
  font-weight: bold;
  text-align: center;
  /* height: 30px; */
  /* overflow: hidden; */
}

.row {
  width: fit-content;
  display: flex;
  height: 30px;
  /* background-color: white; */
}

.webkitLineClamp1 {
  -webkit-line-clamp: 1;
}
.webkitLineClamp2 {
  -webkit-line-clamp: 2;
}
.webkitLineClamp3 {
  -webkit-line-clamp: 3;
}
.webkitLineClamp4 {
  -webkit-line-clamp: 4;
}

/* //////////// table code ends  */

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

input {
  width: 100%;
  padding: 2px 4px;
  background-color: transparent;
  z-index: 1000000;
  position: relative;
}
input:focus {
  background-color: white;
}

.flatpickr-wrapper {
  width: 100%;
}

.row > div > th {
  height: 32px !important;
}

.cell:focus {
  box-shadow: 0 0 0 2px #166ee1 !important;
  /* background-color: orange !important; */
  z-index: 10000000;
}

/* .parent {
  background-color: #e0e0e0;
  padding: 20px;
  border: 1px solid #ccc;
}

.parent:hover .child {
  background-color: #c7c7c7;
} */

/* @media (hover: hover) {
  .resizerHeader {
    opacity: 0;
  }
  .resizerHeader:hover {
    opacity: 1;
  }
} */

/* .cell:focus{
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-top: -1px;
  padding-right: 0;
  border-right: 0;
  box-shadow: 0 0 0 2px #166ee1 !important;
  border-radius: 1px;
  z-index: 100000 !important;
} */
/* .cell-select{
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-top: -1px;
  padding-right: 0;
  border-right: 0;
  box-shadow: 0 0 0 2px #166ee1 !important;
  border-radius: 1px;
  z-index: 100000 !important;
  /* height: auto !important;
} */

/* .truncate:hover { */
/* overflow: visible !important;
  white-space: normal !important;
  z-index: 1;`
  position: relative; */
/* } */

/* .truncate:hover::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: normal;
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
} */

/* 
.wrapper {
  position: relative;
  overflow: auto;
  border: 1px solid black;
  white-space: nowrap;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 100px;
} */

/* .fixed-column {
  position: static;
  background: black !important;
  z-index: 1000;
} */
